dtd_cua_bai1/donhang.dtd

<!ELEMENT orders (order:order+)>
<!ELEMENT order:order (prod:item+)>
<!ATTLIST order:order 
    id CDATA #REQUIRED
    customer CDATA #REQUIRED
    date CDATA #REQUIRED>
<!ELEMENT prod:item (prod:name)>
<!ATTLIST prod:item 
    id CDATA #REQUIRED
    quantity CDATA #REQUIRED
    price CDATA #REQUIRED>
<!ELEMENT prod:name (#PCDATA)>
