dtd_cua_bai1/khoahoc.dtd

<!ELEMENT elearning (course:course+)>
<!ELEMENT course:course (course:title, instructor:instructor, course:students)>
<!ATTLIST course:course 
    id CDATA #REQUIRED
    category CDATA #REQUIRED>
<!ELEMENT course:title (#PCDATA)>
<!ELEMENT instructor:instructor (instructor:name, instructor:email)>
<!ATTLIST instructor:instructor id CDATA #REQUIRED>
<!ELEMENT instructor:name (#PCDATA)>
<!ELEMENT instructor:email (#PCDATA)>
<!ELEMENT course:students (student:student+)>
<!ELEMENT student:student (student:name)>
<!ATTLIST student:student 
    id CDATA #REQUIRED
    progress CDATA #IMPLIED>
<!ELEMENT student:name (#PCDATA)>
